body {
    height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

img {
    padding-left: 20px;

}

button {
    border-radius: 4px;
    color: white;
    background-color: #3882F6;
    border: 0;
    width: 100px;
    font-weight: 900;
    box-shadow: 2px 2px #00000021;
}

button:hover {
    background-color: #4c8ef8;
}

button:active {
    background-color: #0946a8;
    box-shadow: none;

}

.header-top {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}


.header-bottom {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.menu {

    display: flex;
    width: 120px;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    font-size: 12px;
    gap: 15px;
}


.top-left {

    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 200px;
}

.top-title {
    font-size: 35px;
    font-weight: 900;
    line-height: 0.9em;
}

.top-text {
    padding: 12px 0 15px 0;
    font-size: 13px;
}

.logo {
    font-size: 15px;
    font-weight: 900;

}

.M1 {
    padding: 35px 0 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

}

.m1-top {
    font-size: 20px;
    font-weight: 900;
}

.m1-bottom {
    padding: 30px 30px 0 30px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 30px;

}

.M2 {
    padding: 30px 0 30px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #E5E7Eb;
}

.m2-text {
    width: 460px;
    font-style: italic;
    font-size: 20px;

}

.m2-signature {
    width: 440px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

.box-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 3px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.box-text {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    width: 150px;
}

.bottom {
    color: white;
    margin: 50px;
    padding: 20px 40px 12px 40px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.bottom-right {
    padding-left: 12px;
}

.button2 {
    border: 1.5px solid white;
    
}

.bottom-title {
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 10px;
}

.bottom-text {
    font-size: 14px;
    max-width: 300px;
}

.footer {
    padding: 7px;
    text-align: center;
    font-size: 15px;
}